In [6]:
import pandas as pd
a = pd.Series(range(10))
b = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print(a)
print(b)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [11]:
import pandas as pd
a = pd.Series([4, 5, 6, 7, 8, 9], index=('A','B','C','D','E','F'))
print(a)
print(a[1:4]) #not including 4
print(a['D'])

A    4
B    5
C    6
D    7
E    8
F    9
dtype: int64
B    5
C    6
D    7
dtype: int64
7

In [1]:
# 引入 pandas 套件，使用別名 pd 可以少打字
import pandas as pd

# 準備傳入 
data = {
    'name': ['王小郭', '張小華', '廖丁丁', '丁小光'],
    'email': ['min@gmail.com', 'hchang@gmail.com', 'laioding@gmail.com', 'hsulight@gmail.com'],
    'grades': [60, 77, 92, 43]
}


# 建立 DataFrame 物件
student_df = pd.DataFrame(data)

print(student_df)

student_df = pd.DataFrame(data, index=('A','B','C','D'))
print(student_df)

# 列出欄位資料型別等資訊
print(student_df.info())
# 列出統計資訊
print(student_df.describe())
# 列出 DataFrame 的 index/columns
print(student_df.index)
print(student_df.columns)
# 印出頭尾指定幾筆資料
print(student_df.head(3))
print(student_df.tail(3))

  name               email  grades
0  王小郭       min@gmail.com      60
1  張小華    hchang@gmail.com      77
2  廖丁丁  laioding@gmail.com      92
3  丁小光  hsulight@gmail.com      43
  name               email  grades
A  王小郭       min@gmail.com      60
B  張小華    hchang@gmail.com      77
C  廖丁丁  laioding@gmail.com      92
D  丁小光  hsulight@gmail.com      43
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, A to D
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   email   4 non-null      object
 2   grades  4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 128.0+ bytes
None
          grades
count   4.000000
mean   68.000000
std    21.181753
min    43.000000
25%    55.750000
50%    68.500000
75%    80.750000
max    92.000000
Index(['A', 'B', 'C', 'D'], dtype='object')
Index(['name', 'email', 'grades'], dtype='object')
  name               email  grades
A  王小郭       min@gmail.com      60
B  張小華    hchang@gmail.com      77
C  廖丁丁  laioding@gmail.com      92
  name               email  grades
B  張小華    hchang@gmail.com      77
C  廖丁丁  laioding@gmail.com      92
D  丁小光  hsulight@gmail.com      43

In [5]:
# 引入 pandas 套件，使用別名 pd 可以少打字
import pandas as pd

# 準備傳入 DataFrame 的資料
data_1 = {
    'name': ['王小郭', '張小華', '廖丁丁', '丁小光'],
    'email': ['min@gmail.com', 'hchang@gmail.com', 'laioding@gmail.com', 'hsulight@gmail.com'],
    'grades': [60, 77, 92, 43]
}


# 建立 DataFrame 物件
student_df_1 = pd.DataFrame(data_1)
print(student_df_1)
# 使用 drop 指定欄位，記得要給定 axis=1 為欄。若 axis=0 為代表列
student_df_1 = student_df_1.drop(['grades'], axis=1)
print(student_df_1)

  name               email  grades
0  王小郭       min@gmail.com      60
1  張小華    hchang@gmail.com      77
2  廖丁丁  laioding@gmail.com      92
3  丁小光  hsulight@gmail.com      43
  name               email
0  王小郭       min@gmail.com
1  張小華    hchang@gmail.com
2  廖丁丁  laioding@gmail.com
3  丁小光  hsulight@gmail.com

In [13]:
# 引入 pandas 套件，使用別名 pd 可以少打字
import pandas as pd
import numpy as np

df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, 5],
                   [np.nan, 3, np.nan, 4]],
                  columns=list('ABCD'))
print(df)

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

In [15]:
df.fillna(0)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5
3  0.0  3.0  0.0  4

In [17]:
# 引入 pandas 套件，使用別名 pd 可以少打字
import pandas as pd

# 準備傳入 DataFrame 的資料
data_1 = {
    'name': ['王小郭', '張小華', '廖丁丁', '丁小光'],
    'email': ['min@gmail.com', 'hchang@gmail.com', 'laioding@gmail.com', 'hsulight@gmail.com'],
    'grades': [60, 77, 92, 43]
}

data_2 = {
    'name': ['黃明明', '汪新新', '鮑呱呱', '江組組'],
    'email': ['ww@gmail.com', 'cc@gmail.com', 'bb@gmail.com', 'ee@gmail.com'],
    'grades': [70, 17, 32, 43]
}

# 建立 DataFrame 物件
student_df_1 = pd.DataFrame(data_1)
student_df_2 = pd.DataFrame(data_2)

print(student_df_1)
print(student_df_2)

  name               email  grades
0  王小郭       min@gmail.com      60
1  張小華    hchang@gmail.com      77
2  廖丁丁  laioding@gmail.com      92
3  丁小光  hsulight@gmail.com      43
  name         email  grades
0  黃明明  ww@gmail.com      70
1  汪新新  cc@gmail.com      17
2  鮑呱呱  bb@gmail.com      32
3  江組組  ee@gmail.com      43

In [19]:
student_fg_3 = pd.concat([student_df_1, student_df_2]) #rows 

print(student_fg_3)

  name               email  grades
0  王小郭       min@gmail.com      60
1  張小華    hchang@gmail.com      77
2  廖丁丁  laioding@gmail.com      92
3  丁小光  hsulight@gmail.com      43
0  黃明明        ww@gmail.com      70
1  汪新新        cc@gmail.com      17
2  鮑呱呱        bb@gmail.com      32
3  江組組        ee@gmail.com      43

In [29]:
student_fg_3 = pd.concat([student_df_1, student_df_2], ignore_index=True)#index重新排列
print(student_fg_3)
print(student_fg_3.to_csv('student_demo0.csv'))

  name               email  grades   age
0  王小郭       min@gmail.com    60.0   NaN
1  張小華    hchang@gmail.com    77.0   NaN
2  廖丁丁  laioding@gmail.com    92.0   NaN
3  丁小光  hsulight@gmail.com    43.0   NaN
4  王小郭                 NaN     NaN  19.0
5  張小華                 NaN     NaN  20.0
6  廖丁丁                 NaN     NaN  32.0
7  丁小光                 NaN     NaN  43.0
None

In [23]:
# 引入 pandas 套件，使用別名 pd 可以少打字
import pandas as pd

# 準備傳入 DataFrame 的資料
data_1 = {
    'name': ['王小郭', '張小華', '廖丁丁', '丁小光'],
    'email': ['min@gmail.com', 'hchang@gmail.com', 'laioding@gmail.com', 'hsulight@gmail.com'],
    'grades': [60, 77, 92, 43]
}

data_2 = {
    'name': ['王小郭', '張小華', '廖丁丁', '丁小光'],
    'age': [19, 20, 32, 43]
}

# 建立 DataFrame 物件
student_df_1 = pd.DataFrame(data_1)
student_df_2 = pd.DataFrame(data_2)

print(student_df_1)
print(student_df_2)

  name               email  grades
0  王小郭       min@gmail.com      60
1  張小華    hchang@gmail.com      77
2  廖丁丁  laioding@gmail.com      92
3  丁小光  hsulight@gmail.com      43
  name  age
0  王小郭   19
1  張小華   20
2  廖丁丁   32
3  丁小光   43

In [28]:
student_fg_3 = pd.merge(student_df_1, student_df_2) #columns

print(student_fg_3)
# 將 DataFrame 轉成 CSV 檔案
print(student_fg_3.to_csv('student_demo1.csv'))

  name               email  grades  age
0  王小郭       min@gmail.com      60   19
1  張小華    hchang@gmail.com      77   20
2  廖丁丁  laioding@gmail.com      92   32
3  丁小光  hsulight@gmail.com      43   43
None